[build-system]
requires = [
    "setuptools>=42",
    "setuptools_scm[toml]>=3.4",
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/numba_stats/_version.py"

[tool.ruff]
max-length = 90

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-q -ra --ff"
testpaths = [
    "tests"
]
