[tool.poetry]
name = "numba-stats"
version = "0.2.0.dev0"
description = ""
authors = ["Hans Dembinski <hans.dembinski@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.6"
numba = ">=0.50"
scipy = ">=1.5.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pytest-benchmark = "^3.2.3"
requests = "^2.25.1"
toml = "^0.10.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
